<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.hospital.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.bupt.hospital.domain.Log">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userRole" column="user_role" jdbcType="VARCHAR"/>
            <result property="operationType" column="operation_type" jdbcType="VARCHAR"/>
            <result property="originalValue" column="original_value" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,user_id,
        user_role,operation_type,original_value,
        modify_time,status
    </sql>
</mapper>
